.leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.leaderboardList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
}

.leaderboardItem {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #add8e6;
    overflow: auto;
}

.topLeaderboardItem {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    background: linear-gradient(90deg, #ffffff80, #ffffff19);
    background-size: 200% 200%;
    animation: glimmer 4s linear infinite;
    overflow: auto;
}

@keyframes glimmer {
    0% {background-position: 100% 50%;}
    50% {background-position: 0% 50%;}
    100% {background-position: 100% 50%;}
}